* {
  box-sizing: border-box;
}

.notes {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 25px;
}

.note {
  position: relative;
  padding: 10px;
  width: 150px;
  white-space: normal;
  border: 1px solid darkgrey;
}

.form {
  width: 400px;
  margin: 150px auto 0;
}

textarea {
  padding: 20px;
}

.delete {
  display: flex;
  position: absolute;
  top: -12px;
  right: -12px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: red;
  border: none;
  cursor: pointer;
}

.title {
  padding: 25px 100px 0 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.btn-update {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("./img/update.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateY(4px);
  border: none;
  cursor: pointer;
}
